*{
  font-family: "Times New Roman", Times, serif;
}

.App {
  
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-image: url(../../public/img/jogando.jpg);
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: center; 
}

.titulo {
  margin: 10px;
}

.gif2{
  width: 30%;
}

.sub3 {
  font-size: 20px;
  color: rgb(19, 4, 232);
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 10px;  
    border-radius: 8px;  
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
}

input[type=number]{
  color: #06168c;
}

input {
  padding: 8px;
  border: 1px solid #02005f;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

form {
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #26269c97;
  width: 30%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

label {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  color: #89D526;
  margin-bottom: 10px;
}

.botJogo {
  background-color: #89ee06;
  color: #042a77;
  font-size: 30px;
  padding: 10px;
  border: solid 5px #042a77;
  border-radius: 6px;
  cursor: pointer;
  width: 400px; 
  height: 70px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.botJogo:hover {
  background-color: #76ca08;
}


